<html>
	<head>
		<title>About</title>
		 <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/About/css/about.css"/>
	
	</head>
	<body class="about">

		<!-- Header -->

        <header style="margin-bottom: 80px">
            <nav class="navbar fixed-top navbar-expand-lg navbar-custom scrolling-navbar">
                <a class="navbar-brand" href="/Feed/"><img alt="Brand" src="/Feed/Logo rouge.png" height="62" width="62"></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">        
                        <li class="nav-item">
                            <a class="nav-link" href="/Profile/">Profile</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/Feed/">Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Assoces/signup/">I'm an organization</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

		<!-- Banner -->
			<section id="banner">
				<h2>Lift</h2>
				<p>A simple way to give time to your community<br />and defend the cause of your choice</p>
				<ul class="actions">
					<li><a href="/Feed/" class="button special big">Get Started</a></li>
				</ul>
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>About the project</h2>
									<p>One sees well only with the heart. The essential is invisible to the eyes.</p>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ea mollitia corporis id, distinctio sunt veritatis officiis dolore reprehenderit deleniti voluptatibus harum magna, doloremque alias quisquam minus, eaque. Feugiat quod, nesciunt! Iste quos ipsam, iusto sit esse.</p>
								<p>Dolorum aspernatur maxime libero ratione quidem distinctio, placeat fugiat laborum voluptatum enim neque soluta vel sunt id ex veritatis. Labore rerum, odit sapiente, alias mollitia magnam exercitationem modi amet earum quia atque ipsum voluptas asperiores quas laboriosam.</p>
							</div>
						</div>
					</div>
				</section>

			<!-- Two -->
				<section id="two" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>Last ongoing projects</h2>
							<p>Like past volunteers, take time to act for good!</p>
						</header>
						<div class="row 150%">
							<div class="6u 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="/About/images/pic02.jpg" alt="beach" />
									<h3>Beach cleaning</h3>
								</div>
							</div>
							<div class="6u$ 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="/About/images/pic03.jpg" alt="trees" />
									<h3>Planting trees in France</h3>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><a href="/Feed/" class="button special big">Discover more</a></li>
							<li><a href="/Signup/" class="button big">Publish an offer</a></li>
						</ul>
					</div>
				</section>

			<!-- Three -->
				<section id="three" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>Our team</h2>
							<p>orem ipsum dolor sit</p>
						</header>
						<div class="feature-grid">
							<div class="feature">
								<div class="image rounded"><img src="/About/images/davidpic.jpeg" alt="David" /></div>
								<div class="content">
									<header>
										<h4>David Freidenberg</h4>
										<p>Wishing for a cleaner Earth</p>
									</header>
									<p>"Lift is an intuitive platform that anyone can use to help change the way our society works. Let's help eachother!"</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="/About/images/jeannepic.jpeg" alt="Jeanne" /></div>
								<div class="content">
									<header>
										<h4>Jeanne Pelisson</h4>
										<p>Fighting for the homeless</p>
									</header>
									<p>"By investing some quality time in Lift, I hope to help organizations find new volunteers around the world, and convince more people that they can have an impact!"</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="/About/images/profilepic.png" alt="Anastasia" /></div>
								<div class="content">
									<header>
										<h4>Anastasia Belughina</h4>
										<p>Changing children's future</p>
									</header>
									<p>"My dream is to see as many student as possible using Lift on a weekly basis. They are the future and can do so much if they start working together..."</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="/About/images/parrot.jpg" alt="Parrot" /></div>
								<div class="content">
									<header>
										<h4>Papy the Parrot</h4>
										<p>Saving birds</p>
									</header>
									<p>"Cuckookoooo! Cuckookooo!"</p>
								</div>
							</div>
						</div>
					</div>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>Any questions ?</h2>
							<p>We're here to help!</p>
						</header>
						<ul class="actions">
							<li><a href="/Views/contactus.hbs" class="button special big">Get in touch</a></li>
						</ul>
					</div>
				</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
				</div>
			</footer>

	</body>
</html>