<!DOCTYPE html>
<html>
<head>
    <title>Apply Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        
        
    
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Lato|Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="/Apply/apply.css">
</head>


<body>
     <form action="/Application/"  method="POST" enctype="multipart/form-data">
        <div class="row">
        <div class="col-6">
    <div class="form-group mt-5 ml-5">
      <label for="exampleInputName1">Your name</label>
      <input type="text" name="name" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" placeholder="Marcel">
    </div>
    <div class="form-group ml-5">
      <label for="exampleInputSurname1">Your surname</label>
      <input type="text" name = "surname" class="form-control" id="exampleInputSurname1" placeholder="De Guérande">
    </div>
    <div class="form-group ml-5">
            <label for="exampleInputEmail1">Your email</label>
            <input type="text" name = "email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="marcel@deguerande.com">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else but need it to give you an answer.</small>
          </div>
          <div class="form-group ml-5">
            <label for="exampleFormControlTextarea1">Show your motivation</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Never salty :p"></textarea>
          </div>
          <div class="form-group ml-5">
                <label for="inputGroupFileAddon01">Upload your resume</label>
                <div class="custom-file">
                  <input type="file" name = "resume" class="custom-file-input" id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>
              <div class="form-group ml-5">
                    <label for="inputGroupFileAddon02">Any other useful document ?</label>
                    <div class="custom-file">
                      <input type="file" name = "docs" class="custom-file-input" id="inputGroupFile02"
                        aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                  </div>
    <div class="form-check ml-5 mr-5 mb-1">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">All my information is correct</label>
    </div>
    <div class="row">
    <div class="col-2 mb-5">
    <button type="submit" class="btn btn-danger ml-5">Submit</button>
    </div>
    <div class="col-10 mb-5"><a href="/Feed/" type="goBack" class="btn btn-danger ml-2">Go back</a></div>
    </div>
</div>
<div class="col-6">      
          <div class="volunteer" style="margin: 100px"><img alt="volunteer" src="/Apply/volunteer.png"></div>
        </div>
</div>
  </form>
</body>