<!doctype html>
<html lang="en">

    <head>
        <title>Dashboard_lift(test commit)</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/feed/style.css">

        <!-- JavaScript-->
        <script src="script.js" async></script>
    </head>

    <body>
        <header style="margin-bottom: 150px">
            <nav class="navbar fixed-top navbar-expand-lg navbar-custom scrolling-navbar">
                <a class="navbar-brand" href="#"><img alt="Brand" src="/feed/Logo rouge.png" height="62" width="62"></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">        
                        <li class="nav-item">
                            <a class="nav-link" href="/Profile/profile.html">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">I'm an organization</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="main container-fluid">
            <div class="card border-0 m-5">
                <div class="card p-3 my-logo" style="width: 6rem; height: 6rem;"><img alt="Toocan" src="/feed/Coastal.png" height="60" width="60"></div>
                <div class="card-header"><p class="ml-5">Chatbot Development</p></div>
                <div class="card-body">
                    <p class="card-text">We seek a skilled technologist to specify, document and eventually build proprietary software / an algorithm that will allow our Insurtech business to analyse banking transactions and determine a risk score for the purpose of providing home, motor, travel, pet and gadget insurance. This will be a protectable process whose IP will be assigned by you to us.<br>Successful delivery of this project may result in further phases of work. Being based in London is a plus!</p>
                    <a href="Apply/apply.html" class="btn btn-danger float-right">Apply</a>
                </div>
            </div>
        </div>
       
        <div class="main container-fluid">
            <div class="card border-0 m-5" style="width: 120rem;">
                <div class="card p-3 my-logo" style="width: 6rem; height: 6rem;"><img alt="Toocan" src="/feed/R-logo.png" height="60" width="60"></div>
                <div class="card-header"><p class="ml-5">Mapping French M&A advisors</p></div>
                <div class="card-body">
                    <p class="card-text">Working for a US private equity fund, I need to map the M&A advisors scene - mostly boutique and small advisers - and heads of M&A teams in mid-large corporations. The list needs the following info: First and last name / title / company / e-mail, phone number if available.</p>
                    <a href="#" class="btn btn-danger float-right">Apply</a>
                </div>
            </div>
        </div>

        <div class="main container-fluid">
            <div class="card border-0 m-5" style="width: 120rem;">
                <div class="card p-3 my-logo" style="width: 6rem; height: 6rem;"><img alt="Toocan" src="/feed/red-logo.png" height="60" width="60"></div>
                <div class="card-header"><p class="ml-5">Community leader</p></div>
                <div class="card-body">
                    <p class="card-text">Streetbees allows brands like Unilever, Vodafone and L'Oreal to ask questions to real consumers on the ground in over 87 countries. By connecting brands to consumers using our mobile technology, we give them the power of millions of eyes and ears on the ground all over the world.</p>
                    <a href="#" class="btn btn-danger float-right">Apply</a>
                </div>
            </div>
        </div>

        <div class="main container-fluid">
            <div class="card border-0 m-5" style="width: 120rem;">
                <div class="card p-3 my-logo" style="width: 6rem; height: 6rem;"><img alt="Toocan" src="/feed/toocan.png" height="60" width="60"></div>
                <div class="card-header"><p class="ml-5">Mapping German M&A advisors</p></div>
                <div class="card-body">
                    <p class="card-text">Working for a US private equity fund, I need to map the M&A advisors scene - mostly boutique and small advisers - and heads of M&A teams in mid-large corporations. The list needs the following info: First and last name / title / company / e-mail, phone number if available.</p>
                    <a href="#" class="btn btn-danger float-right">Apply</a>
                </div>
            </div>
        </div>

    </body>

</html>