<div class="container">
    <h1>Be part of the Lift community! </h1>

    <div class="row">
        <div class="col">
            <form action="/Post-Profile/" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="profilepic">Profile Picture</label>
                    <input type="file" class="form-control" id="profilepic" name="profilepic">
                </div>
                
                <div class="form-group">
                    <label for="Nationality">Nationality</label>
                    <input type="text" class="form-control" id="nationality" name="nationality">
                </div>

                <div class="form-group">
                    <label for="Languages">Languages</label>
                    <input type="text" class="form-control" id="language" name="language" >
        
                </div>

                <div class="form-group">
                    <label for="activity">Field of activity</label>
                    <input type="text" class="form-control" id="activity" name="activity" >
        
                </div>

                <div class="form-group">
                    <label for="Ciesize">Size of the company</label>
                    <input type="text" class="form-control" id="size" name="size" >
        
                </div>

                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" name="location" >
        
                </div>

                <div class="form-group">
                    <label for="causes">Causes</label>
                    <input type="text" class="form-control" id="causes" name="causes" >
        
                </div>

                <div class="form-group">
                    <label for="about">About the company</label>
                    <input type="text" class="form-control" id="about" name="about" >
        
                </div>

                <div class="form-group">
                    <label for="website">Website</label>
                    <input type="text" class="form-control" id="website" name="website">
        
                </div>
                
                <button type="submit" class="btn btn-primary">Continue</button>
            </form>
        </div>
    </div>
</div>
